@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

:root {
  /* Primary */
  --clr-purple-50: hsl(260, 100%, 95%);
  --clr-purple-300: hsl(264, 82%, 80%);
  --clr-purple-500: hsl(263, 55%, 52%);

  /* Neutral */
  --clr-grey-100: hsl(214, 17%, 92%);
  --clr-grey-200: hsl(0, 0%, 81%);
  --clr-grey-400: hsl(224, 10%, 45%);
  --clr-grey-500: hsl(217, 19%, 35%);
  --clr-dark-blue: hsl(219, 29%, 14%);
  --clr-black: hsl(0, 0%, 7%);

  /* Spacing */
  --spacing-500: 2.5rem; /* 40px */
  --spacing-400: 2rem; /* 32px */
  --spacing-300: 1.5rem; /* 24px */
  --spacing-200: 1rem; /* 16px */
  --spacing-100: 0.5rem; /* 8px */
  --spacing-50: 0.25rem; /* 4px */
}

.text-preset-1 {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.25rem; /* 20px */
  line-height: 1.2;
  letter-spacing: 0;
}
.text-preset-2 {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.8125rem; /* 13px */
  line-height: 1.1;
  letter-spacing: 0;
}
.text-preset-3 {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.8125rem; /* 13px */
  line-height: 1.4;
  letter-spacing: 0;
}
.text-preset-4 {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.6875rem; /* 11px */
  line-height: 1.1;
  letter-spacing: 0;
}

/* Structure */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 2113px;
  background-color: #f6f5f6;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-400);
  width: 305px;
}
.wrap,
.group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-400);
}
.section {
  padding: var(--spacing-400);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
  box-shadow: 2.5rem 3.75rem 3.125rem -2.9375rem hsla(217, 19%, 35%, 24.74%); /* 40px 60px 50px -47px */
  border-radius: 0.5rem; /* 8px */
}
.section-01,
.tablet-section-01 {
  background-color: var(--clr-purple-500);
  color: white;
}

.tablet-section-01,
.section-01 {
  position: relative;
}
.title {
  z-index: 1;
}
.quote {
  position: absolute;
  z-index: 0;
  left: 201px;
  top: 0;
}

.section-02 {
  background-color: var(--clr-grey-500);
  color: white;
}
.section-03 {
  background-color: white;
}
.section-04 {
  background-color: var(--clr-dark-blue);
  color: white;
}
.section-05 {
  background-color: white;
}

.tablet-container {
  display: none;
}

.tablet-section-01 {
  display: none;
}

.profile {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-200);
}

.tablet-section-01.avatar,
.section-01 .avatar {
  border-color: var(--clr-purple-300);
}

.avatar {
  width: 1.75rem; /* 28px */
  height: 1.75rem; /* 28px */
  border-radius: 50%;
  overflow: hidden;
}

.tablet-section-01 .avatar,
.section-01 .avatar,
.section-04 .avatar {
  border: 0.125rem solid var(--clr-purple-300); /* 2px */
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile :last-child {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-50);
}

@media (min-width: 768px) {
  body {
    height: 84.5625rem; /* 1353px */
  }
  main {
    width: 40.4375rem; /* 647px */
  }
  .section-01 {
    display: none;
  }
  .quote {
    left: 316px;
    top: 0;
  }
  .tablet-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-400);
  }

  .group-1 .section-02,
  .group-2 .section-03 {
    display: none;
  }

  .tablet-section-01 {
    display: flex;
  }
}

@media (min-width: 1440px) {
  body {
    height: 64.3125rem; /* 1029px */
  }
  main {
    width: 69.625rem; /* 1114px */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--spacing-400);
    align-items: start;
  }
  .tablet-container {
    display: none;
  }
  .group-1 .section-02,
  .group-2 .section-03 {
    display: flex;
  }
  .wrap {
    grid-column: span 3;
  }
  .section-01 {
    display: flex;
  }
  .tablet-section-01 {
    display: none;
  }

  .group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-400);
  }

  .section-01,
  .section-04 {
    grid-column: span 2;
  }

  .section-05 {
    height: 100%;
  }
}

/* Attribution */
footer {
  margin-top: 2rem;
}
.attribution {
  font-size: 0.6875rem; /* 11px */
  text-align: center;
}
.attribution a {
  color: var(--clr-purple-500);
}
